.container__list{
  width: 100%;
}
.list{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.788);
  color: white;
}
.list__title{
  background-color: white;
  color: black;
  height: 60px;
  font-size: xx-large;
  padding-top: 3%;
}
.list__item{
  display: flex;
  align-items: center;
  border-bottom: 1.5px solid white;
}
.list__user{
  display: flex;
  width: 75%;
  align-items: center;
  margin: 2% 2% 2% 5%;
}
.list__name{
  width: 60%;
  margin-left: 2%;
}
.list__id{
  display: flex;
}
.list__username{
  display: flex;
  margin-left: 4%;
}
img{
  width: 90px;
  border-radius: 50%;
}
.list__button{
  display: flex;
}
.button{
  justify-content: right;
  width: 80px;
  padding: 3%;
}
